<!-- breadcrumb -->
<nav class="flex" aria-label="Breadcrumb">
  <ol role="list" class="flex space-x-4 rounded-md bg-white px-6 shadow">
    <li class="flex">
      <div class="flex items-center">
        <a routerLink="/home-page" class="text-customBlue hover:text-gray-500">
          <!-- Heroicon name: mini/home -->
          <svg
            class="h-5 w-5 flex-shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg
          class="h-full w-6 flex-shrink-0 text-gray-200"
          viewBox="0 0 24 44"
          preserveAspectRatio="none"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a
          [routerLink]="[
            '/home-page/flight-results',
            step1.filters['from'],
            step1.filters['to'],
            step1.filters['dateFrom'],
            step1.filters['dateTo'],
            step1.filters['seatType'],
            step1.filters['passengers']
          ]"
          class="ml-4 text-sm font-medium text-customBlue hover:text-gray-700"
          >Flight results</a
        >
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg
          class="h-full w-6 flex-shrink-0 text-gray-200"
          viewBox="0 0 24 44"
          preserveAspectRatio="none"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a
          [routerLink]="[
            '/book-flight/',
            step1.filters['id'],
            step1.filters['from'],
            step1.filters['to'],
            step1.filters['dateFrom'],
            step1.filters['dateTo'],
            step1.filters['seatType'],
            step1.filters['passengers'],
            step1.filters['price']
          ]"
          class="ml-4 text-sm font-medium text-customBlue hover:text-gray-700"
          aria-current="page"
          >Book flight page</a
        >
      </div>
    </li>
  </ol>
</nav>

<!-- Stepper -->
<mat-stepper linear="true" #stepper>
  <mat-step [stepControl]="step1.passengersForm" editable="false">
    <ng-template matStepLabel>Passengers Form</ng-template>

    <app-passengers-form #step1></app-passengers-form>

    <div
      class="flex flex-col justify-center items-center text-center gap-2 py-5"
    >
      <p class="text-center items-center">
        Total price&nbsp;
        <span class="font-bold">
          {{
            step1.filters["price"] *
              step1.passengersForm.get("passengers").value.length
          }}&nbsp;€</span
        >
      </p>
      <button
        type="button"
        matStepperNext
        class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
      >
        Continue to payments
      </button>

      <div class="h-24"></div>
    </div>
  </mat-step>

  <mat-step [stepControl]="step2.paymentForm">
    <ng-template matStepLabel>Payment Form</ng-template>
    <app-payment-form #step2></app-payment-form>
    <div class="flex justify-center mt-6">
      <button
        (click)="saveFlight(step2.paymentForm)"
        type="button"
        matStepperNext
        class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
      >
        Submit
      </button>
    </div>
    <div class="h-24"></div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div *ngIf="!loading" class="flex flex-col items-center justify-center">
      <div>
        <button
          routerLink="/home-page"
          type="button"
          class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
        >
          Go back
        </button>
        <!-- <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button> -->
      </div>
    </div>
  </mat-step>
</mat-stepper>

<div *ngIf="loading">
  <mat-spinner class="mx-auto" [mode]="determinate"></mat-spinner>
</div>
