<mat-stepper linear="false" #stepper>
  <mat-step [stepControl]="step1.passengersForm" editable="true">
    <ng-template matStepLabel>Passengers Form</ng-template>
    <app-passengers-form #step1></app-passengers-form>
    <div class="flex justify-center py-5">
      <button
        type="button"
        matStepperNext
        class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
      >
        Continue to payments
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="step2.paymentForm">
    <ng-template matStepLabel>Payment Form</ng-template>
    <app-payment-form #step2></app-payment-form>
    <div class="flex justify-center mt-6">
      <button
        (click)="saveFlight(step2.paymentForm)"
        type="button"
        matStepperNext
        class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
      >
        Submit
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
