<nav *ngIf="loggedIn$ | async" class="bg-primary">
  <div class="w-full">
    <div class="flex h-16 justify-between w-full">
      <div
        class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center"
      ></div>
      <div
        class="flex justify-end mr-20 md:flex md:flex-shrink-0 md:items-center"
      >
        <button [matMenuTriggerFor]="normalMenu">
          <mat-menu
            #normalMenu="matMenu"
            class="flex justify-center items-center"
          >
            <button mat-list-item (click)="logout()">
              <mat-icon class="align-middle">exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
          <mat-icon class="text-white">menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
