/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --mainColor:#02122C;
    --secondColor:#00A698;
}


.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--secondColor);
}

::-webkit-scrollbar {
  width: 4px;

  overflow-y: scroll;
  background: var(--secondColor);
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: var(--secondColor);
  border-radius: 10px;
}
