<div
  class="flex w-full h-[90vh] items-center bg-no-repeat bg-cover bg-center"
  style="background-image: url('../../assets/images/homeBg.jpg')"
>
  <div class="w-[50rem] h-[30rem] opacity-90 mx-auto bg-primary rounded-sm">
    <form [formGroup]="searchForm" class="search-form mt-4">
      <div class="flex justify-center gap-8">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col">
            <h4 class="text-white">From</h4>
            <mat-form-field>
              <mat-label>From</mat-label>
              <mat-select formControlName="from" required>
                <mat-option
                  *ngFor="let flight of (allFlights | async).from"
                  [value]="flight"
                  >{{ flight }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex flex-col gap-2">
            <h4 class="text-white"></h4>
            <!-- <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                [matDatepickerFilter]="myFilter"
                placeholder="Departure Date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            <mat-form-field class="" appearance="fill">
              <mat-label>Departure Date</mat-label>
              <input
                matInput
                formControlName="dateFrom"
                [matDatepickerFilter]="myFilter"
                [matDatepicker]="picker"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <pre>{{ searchForm.get("dateFrom").value | json }}</pre>
          </div>

          <div class="flex flex-col">
            <h4 class="text-white">Seat</h4>

            <mat-radio-group formControlName="seats">
              <div class="flex flex-col text-white gap-3">
                <mat-radio-button value="economy">Economy</mat-radio-button>
                <mat-radio-button value="premium">Premium</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="flex flex-col gap-4">
          <div class="flex flex-col">
            <h4 class="text-white">To</h4>
            <mat-form-field>
              <mat-label>To</mat-label>
              <mat-select formControlName="to" required>
                <mat-option
                  *ngFor="let flight of (allFlights | async).to"
                  [value]="flight"
                  >{{ flight }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col gap-2">
            <h4 class="text-white"></h4>
            <mat-form-field class="" appearance="fill">
              <mat-label>Return Date</mat-label>
              <input
                matInput
                formControlName="dateTo"
                [matDatepickerFilter]="myFilter2"
                [matDatepicker]="picker2"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="flex flex-col">
            <h4 class="text-white">Passengers</h4>
            <mat-form-field>
              <input formControlName="passengers" type="number" matInput />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-5">
        <button
          class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-10 py-2 text-sm font-medium text-white shadow-sm hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
